Code/Code main station/Tramkiemsoatupdate/Du_lieu_tram_kiem_soat/Nodered/flows_new.json
[{"id":"a1b2c3d4e5f6a7b8","type":"tab","label":"Trạm Đo Mực Nước","disabled":false,"info":""},{"id":"mqtt_in_node","type":"mqtt in","z":"a1b2c3d4e5f6a7b8","name":"Lắng nghe dữ liệu mực nước","topic":"esp32/tramkiemsoat/data","qos":"2","datatype":"json","broker":"ed96e13f2437c5eb","x":150,"y":300,"wires":[["main_function_node","debug_node"]]},{"id":"debug_node","type":"debug","z":"a1b2c3d4e5f6a7b8","name":"MQTT Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":240,"wires":[]},{"id":"main_function_node","type":"function","z":"a1b2c3d4e5f6a7b8","name":"Xử lý dữ liệu và trạng thái","func":"const waterLevel = msg.payload.water_level;\\nlet status = {};\\nif (waterLevel <= 2) {\\n    status = { text: 'AN TOÀN', color: '#2DD4BF', icon: 'fa-check-circle' };\\n} else if (waterLevel > 2 && waterLevel <= 3) {\\n    status = { text: 'CẢNH BÁO', color: '#FBBF24', icon: 'fa-exclamation-triangle' };\\n} else if (waterLevel > 3 && waterLevel <= 4) {\\n    status = { text: 'NGUY HIỂM', color: '#F97316', icon: 'fa-exclamation-circle' };\\n} else {\\n    status = { text: 'BÁO ĐỘNG KHẨN CẤP', color: '#EF4444', icon: 'fa-bullhorn' };\\n}\\nconst now = new Date();\\nconst lastUpdate = now.toLocaleDateString('vi-VN') + ' ' + now.toLocaleTimeString('vi-VN');\\nconst statusPayload = {\\n    template: `<div style='background-color: ${status.color};' class='status-banner'><i class='fa ${status.icon} fa-2x'></i><span class='status-text'>CẢNH BÁO MỰC NƯỚC: ${status.text}</span></div>`\\n};\\nconst detailsPayload = `\\n    <div class='details-container'>\\n        <div><strong>Trạm:</strong> Triều Khúc</div>\\n        <div><strong>Địa điểm:</strong> Thanh Xuân, Hà Nội</div>\\n        <div><strong>Mực nước:</strong> ${waterLevel} m</div>\\n        <div><strong>Cập nhật:</strong> ${lastUpdate}</div>\\n    </div>\\n`;\\nconst mapPayload = {\\n    name: 'Trạm Triều Khúc',\\n    lat: 20.9934,\\n    lon: 105.7984,\\n    iconColor: status.color\\n};\\nreturn [statusPayload, waterLevel, detailsPayload, waterLevel, mapPayload];","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":300,"wires":[["status_banner_template"],["water_level_gauge"],["station_details_text"],["water_level_chart"],["map_template"]]},{"id":"status_banner_template","type":"ui_template","z":"a1b2c3d4e5f6a7b8","group":"main_status_group","name":"Banner Trạng Thái","order":1,"width":12,"height":2,"format":"<style>\\n.status-banner {\\n    width: 100%;\\n    height: 100%;\\n    display: flex;\\n    justify-content: center;\\n    align-items: center;\\n    border-radius: 10px;\\n    color: white;\\n    font-size: 24px;\\n    font-weight: bold;\\n    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);\\n    box-shadow: 0 4px 8px rgba(0,0,0,0.2);\\n}\\n.status-text {\\n    margin-left: 15px;\\n}\\n</style>\\n<div ng-bind-html=\\\"msg.template\\\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":140,"wires":[[]]},{"id":"water_level_gauge","type":"ui_gauge","z":"a1b2c3d4e5f6a7b8","name":"Mực nước hiện tại","group":"main_status_group","order":2,"width":6,"height":4,"gtype":"gage","title":"Mực nước hiện tại","label":"m","format":"{{value | number:1}}","min":0,"max":"5","colors":["#2DD4BF","#FBBF24","#EF4444"],"seg1":"2","seg2":"4","x":650,"y":220,"wires":[]},{"id":"station_details_text","type":"ui_template","z":"a1b2c3d4e5f6a7b8","group":"main_status_group","name":"Thông tin chi tiết","order":3,"width":6,"height":4,"format":"<style>\\n.details-container {\\n    font-size: 16px;\\n    line-height: 1.8;\\n    padding: 10px;\\n}\\n</style>\\n<div ng-bind-html=\\\"msg.payload\\\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":300,"wires":[[]]},{"id":"water_level_chart","type":"ui_chart","z":"a1b2c3d4e5f6a7b8","name":"Lịch sử mực nước (24h)","group":"history_chart_group","order":1,"width":12,"height":6,"label":"Mực nước","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Đang chờ dữ liệu...","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":660,"y":380,"wires":[[]]},{"id":"map_template","type":"ui_template","z":"a1b2c3d4e5f6a7b8","group":"history_chart_group","name":"Bản đồ vị trí","order":2,"width":12,"height":6,"format":"<div ng-bind-html=\\\"msg.template\\\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":880,"y":520,"wires":[[]]},{"id":"ed96e13f2437c5eb","type":"mqtt-broker","name":"HiveMQ","broker":"d9576ffb213c49ceba760d79b17ab28f.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ui_base","type":"ui_base","theme":{"name":"theme-dark"},"site":{"name":"Node-RED Dashboard"}},{"id":"main_status_group","type":"ui_group","name":"Trạng thái chính","tab":"dashboard_tab","order":1,"disp":true,"width":"12","collapse":false},{"id":"history_chart_group","type":"ui_group","name":"Lịch sử và Bản đồ","tab":"dashboard_tab","order":2,"disp":true,"width":"12","collapse":false},{"id":"dashboard_tab","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"map_trigger","type":"inject","z":"a1b2c3d4e5f6a7b8","name":"Load Map Logic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":460,"wires":[["read_map_file"]]},{"id":"read_map_file","type":"file in","z":"a1b2c3d4e5f6a7b8","name":"Read map_logic.js","filename":"e:/ESP32_VisualCode/TramKiemSoat/Du_lieu_tram_kiem_soat/Nodered/map_logic.js","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":370,"y":460,"wires":[["set_map_template"]]},{"id":"set_map_template","type":"function","z":"a1b2c3d4e5f6a7b8","name":"Set msg.template","func":"msg.template = msg.payload;\\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":460,"wires":[["map_template"]]}]